{% extends 'base.html.twig' %}

{% block title %}GemGallery index{% endblock %}

{% block body %}
    <h1>GemGallery index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gem_gallery in gem_galleries %}
            <tr>
                <td>{{ gem_gallery.id }}</td>
                <td>{{ gem_gallery.description }}</td>
                <td>
                    <a href="{{ path('app_gem_gallery_show', {'id': gem_gallery.id}) }}">show</a>
                    <a href="{{ path('app_gem_gallery_edit', {'id': gem_gallery.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_gem_gallery_new') }}">Create new</a>
{% endblock %}
