{% extends 'base.html.twig' %}

{% block title %}Pierre n°{{ pierre.id }}{% endblock %}

{% block body %}
<h1>{{ pierre.nom }}</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ pierre.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ pierre.nom }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ pierre.description }}</td>
        </tr>
    </tbody>
</table>

<a href="{{ path('app_galerie_show', { 'id': galerie.id }) }}">Retour à la galerie</a>
{% endblock %}