{% extends 'base.html.twig' %}

{% block title %}Pierre{% endblock %}

{% block body %}
    <h1>Pierre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pierre.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ pierre.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ pierre.description }}</td>
            </tr>
            <tr>
                <th>TypeDePierre</th>
                <td>{{ pierre.typeDePierre }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ pierre.poids }}</td>
            </tr>
            <tr>
                <th>ValeurEstimee</th>
                <td>{{ pierre.valeurEstimee }}</td>
            </tr>
            <tr>
                <th>DateAcquisition</th>
                <td>{{ pierre.dateAcquisition ? pierre.dateAcquisition|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_pierre_index') }}">back to list</a>

    <a href="{{ path('app_pierre_edit', {'id': pierre.id}) }}">edit</a>

    {{ include('pierre/_delete_form.html.twig') }}
{% endblock %}
